.todo-form {
  margin-bottom: 2rem;
}

.todo-input,
.todo-button {
  padding: 0.75rem 0.7rem;
  outline: none;
  text-transform: capitalize;
  border: transparent;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  outline: none;
}
.todo-input {
  border-radius: 4px 0 0 4px;
  width: 320px;
  background: var(--primaryColor);
  color: var(--offWhite);
}

.todo-button {
  border-radius: 0 4px 4px 0;
  margin-left: 0.5rem;
  background: var(--darkGrey);
  color: var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
}

.todo-button:hover {
  background: var(--mainBlack);
  color: var(--darkGrey);
}
