:root {
  --primaryColor: #b797c4;
  --secondaryColor: #e5bdf6;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #faf9f6;
  --lightGrey: #d8dede;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    var(--lightGrey) 0%,
    var(--secondaryColor) 74%
  );
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

h1 {
  font-size: 1.8rem;
  padding: 2rem 0;
  color: var(--mainBlack);
}

p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 35rem;
  min-height: 35rem;
  justify-content: flex-start;
  margin: 8rem auto;
  background: var(--offWhite);
  text-align: center;
  border-radius: 0.8rem;
  padding-bottom: 2rem;
}
